<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->

    <!-- Dependency-->

    <bean id="myFortune"
          class="com.spring.framework.HappyFortuneService">
    </bean>

    <bean id="randomFortune"
          class="com.spring.framework.newFortuneClass">
    </bean>

    <bean id="myBaseBallCoach"
          class="com.spring.framework.BaseballCoach">

        <!-- Constructor Injection -->
        <constructor-arg ref="randomFortune"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.spring.framework.CricketCoach">

        <!-- Setter Injection-->
        <property name="fortuneService" ref="myFortune"/>
        <!-- Inject Property value -->
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

</beans>










